
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:include="plantilla/template::head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
      </head>
  
  
  <body>
	<header th:include="plantilla/template::header"></header>  
	   
	   
	   
	   <div class="container">
    <h1>form lista!</h1>
      </div>
    
    
    <footer th:include="plantilla/template:: footer"></footer>  
     </body>
</html>